<div class="heading" style="position:fixed;width:100%;">
  <div class="col-lg-8">
    <input type="submit" class="btn" style="background-color:rgba(0, 0, 0, 0.8)" routerLink="addParentCategory" value="צור קטגורית אב חדשה" />
  </div>


</div>
<main class="page-content">
  <div class="container-fluid">
    <div class="w3-panel w3-card" style="background-color:white">
      <div style="margin-top:-20px;">
        <div style="background-color:#dc0065;width:60px;height:60px;border-radius:10px; text-align:center;display:table-cell; vertical-align:middle;box-shadow:3px 5px 5px rgba(191, 191, 191, 0.77)">
          <img src="./assets/list4.png" style="width:20px;height:20px;" />
        </div>
        <h4 style="margin-top:-30px; margin-right:70px; font-family:Guttman-CourMir">קטגוריות אב</h4>
        <br />
      </div>
      <table class="table table-condensed">
        <thead>
          <tr>
            <td>שם</td>
            <td>פעולה</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of this.typesService.listTypes">
            <td><p>{{category.name}}</p></td>
            <td>
              <div style="display:inline-block;margin-left:5px">
                <div style="background-color:rgba(0, 0, 0, 0.7);width:30px;height:30px;border-radius:5px; text-align:center;display:table-cell; vertical-align:middle;box-shadow:0 5px 10px rgba(191, 191, 191, 0.77)">
                  <img src="./assets/menu.png" (click)="editCategoryClicked(category)" routerLink="editParentCategory" style="width:15px;height:15px;" />
                </div>
              </div>
              <div style="display:inline-block">
                <div style="background-color:rgba(0, 0, 0, 0.7);width:30px;height:30px;border-radius:5px; text-align:center;display:table-cell; vertical-align:middle;box-shadow:0 5px 10px rgba(191, 191, 191, 0.77)">
                  <img src="./assets/cancel.png"  data-toggle="modal" data-target="#myModal"(click)="delete(category)" style="width:15px;height:15px;" />
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-products-base></app-products-base>
</main>
<app-confirm-deletion></app-confirm-deletion>
