
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="heading" style="position:fixed;width:100%;">
    <div class="col-lg-8">
      <input type="submit" class="btn" style="background-color:rgba(0, 0, 0, 0.8)"value="שמור" [disabled]="!form.valid" />
    </div>
  </div>
  <main class="page-content">
    <div class="container-fluid">
      <div class="w3-panel w3-card" style="background-color:white">
        <div style="margin-top:-20px;">
          <div style="background-color:#dc0065;width:60px;height:60px;border-radius:10px; text-align:center;display:table-cell; vertical-align:middle;box-shadow:3px 5px 5px rgba(191, 191, 191, 0.77)">
            <img src="./assets/icons/pencil-edit-button (1).png" style="width:20px;height:20px;" />
          </div>
          <h4 style="margin-top:-30px; margin-right:70px; font-family:Guttman-CourMir">עריכת קטגוריה</h4>
          <br />
        </div>
        <div class="form-group">
          <label>שם:</label>
          <input class="form-control" formControlName="name" type="text" />
          <label>קטגורית אב</label>
          <select class="form-control" formControlName="types">
            <option value="" disabled selected>בחר סוג חיה</option>
            <option value="{{type._id}}" *ngFor="let type of this.typesService.listTypes">{{type.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </main>
</form>
