<!--<div class="heading" style="position:fixed;width:100%;">
  <div class="col-lg-8">
    <input type="submit" class="btn" style="background-color:rgba(0, 0, 0, 0.8)" [disabled]="!form.valid" value="שמור" />
  </div>
</div>
<main class="page-content" style="background-color:#f2f7fb;">
  <div class="container-fluid">
    <div class="w3-panel w3-card" style="background-color:white">
      <span class="dot">uy</span>
    </div>
  </div>
</main>-->
<div class="heading" style="position:fixed;width:100%;">
  <!--<div class="col-lg-8">
    <input type="submit" class="btn" style="background-color:rgba(0, 0, 0, 0.8)" [disabled]="!form.valid" value="שמור" />
  </div>-->
</div>
