<div style="background-color:rgba(11, 83, 107, 0.07) !important">
  <div id="services" class="container text-center">
    <h2 class="font" style="color:black">קטגוריות נבחרות</h2>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-sm-4 col-lg-2" style="margin-left:5px">
        <img src="./assets/icons/bathtub (2).png" style="width:80%;height:80%" />
        <h4>מיטות לחתולים</h4>
      </div>
      <div class="col-sm-4 col-lg-2" style="margin-left:5px">
        <img src="./assets/icons/pie (3).png" style="width:80%;height:80%" />
        <h4>מיטות לכלבים</h4>
      </div>
      <div class="col-sm-4 col-lg-2" style="margin-left:5px">
        <img src="./assets/icons/balloon.png" style="width:80%;height:80%" />
        <h4>צעצועים לכלב</h4>
      </div>
      <div class="col-lg-3"></div>
    </div>
    <br><br>
    <div id="slide1">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-sm-4 col-lg-2 anima">
          <img src="./assets/icons/cage.png" style="width:80%;height:80%" />
          <h4>כלובים לכלבים</h4>
        </div>
        <div class="col-sm-4 col-lg-2 anima">
          <img src="./assets/icons/dog.png" style="width:80%;height:80%" />
          <h4>רצועות קולרים ורתמות</h4>
        </div>
        <div class="col-sm-4 col-lg-2 anima1">
          <img src="./assets/icons/bed.png" style="width:80%;height:80%" />
          <h4 style="color:#303030;">מזרונים ומשטחי רביצה</h4>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</div>
